/* css-color-grid.css */

#grid-wrapper {
	background-color: #FFFFFF;
	color: #3A3A3A;
}

.color-grid-col {
	padding: 0;
}

section.color-section {
	text-align: center;
	color: #3A3A3A;
	padding: 8px;
	border: 1px solid #363636;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}	

.color-section-container {
	height: 100%:
	position: relative;
	padding: 0;
}

h5.color-name {
	background-color: transparent;
	padding: 4px;
	margin-bottom: 10px;
}

p.color-hex-value {
	background-color: transparent;
	padding: 4px;
	margin-bottom: 10px;
}

p.color-rgb-value {
	background-color: transparent;
	padding: 4px;
	margin-bottom: 10px;
}